<!DOCTYPE html>
@{
    var imgsrcuri = default(string);
    if (IsPost) 
    {
        var file = Request.Files["file"];
        if (file.ContentLength>0)
        {
            var buff = new byte[file.ContentLength];
            file.InputStream.Read(buff, 0, buff.Length);
            imgsrcuri = string.Format("data:{0};base64,{1}", file.ContentType, Convert.ToBase64String(buff));
        }
    }
}
<html>
<head>
    <title></title>
    <style>
        * {
            font-size:100%;
        }
        body {
            font-size:80%;
        }
        #file {
            height: 300px;
            font-size: 300px;
            right: 0;
            top: 0;
            position: absolute;
            opacity: 0.01;
            cursor:pointer;
        }
        #file-field-window {
            overflow:hidden;
            position:relative;
        }
        #file-field-window,
        #btn-upload {
            width:10em;
            height:3em;
        }
        #btn-upload {
            background-color:#094ab2;
            border:none;
            color:white;
        }
        #file:hover ~ #btn-upload {
            background-color:#2465cf;
        }
        img {
            margin-top:1em;
        }

    </style>
</head>
<body>
    <form method="post" enctype="multipart/form-data">
        <div id="file-field-window">
            <input type="file" name="file" id="file" value="" />
            <input type="submit" name="btn-upload" id="btn-upload" value="Upload image..." />
        </div>
    </form>

    <div>
        @if (imgsrcuri != null)
        {
            <img src="@imgsrcuri" />
        }
    </div>
    <script src="Scripts/jquery-1.7.1.min.js"></script>
    <script>
        $(function () {
            $("#file").change(function () {
                $(this).closest("form").submit();
            });
        });
    </script>
</body>
</html>
